site_name: VergeOS Docs
site_url: https://docs.verge.io
repo_url: https://github.com/verge-io/docs
repo_name: verge-io/docs
edit_uri: edit/main/docs/


theme:
  name: material
  custom_dir: docs/overrides
  logo: assets/vergelogomark.svg
  favicon: assets/vergelogomark.svg
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    #- navigation.sections
    - navigation.indexes
    #- toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - announce.dismiss
    - navigation.footer
    - navigation.path
    - content.action.edit  # Shows the edit button
    - content.action.view  # Shows the view source button
  language: en
  palette:
    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
plugins:
  - blog:
      blog_dir: knowledge-base
      post_url_format: "{slug}"
      blog_toc: true
      archive: false
      pagination_per_page: 50
  - search:
      prebuild_index: true
      lang:
      - en
  - glightbox
markdown_extensions:
  - sane_lists
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.superfences
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.snippets:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tasklist:
      clickable_checkbox: true
  - footnotes
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: "#"
      toc_depth: 2

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/VergeIO_Inc
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/verge-io/
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCnFu28s0GBVi18j7Ez3MXRg
    - icon: fontawesome/solid/paper-plane
      link: mailto:support@verge.io
    - icon: fontawesome/solid/phone
      link: tel:855-855-8300
  generator: false
  analytics:
      provider: google
      property: G-KBH6Q02QFH
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  #status:
  #  new: Recently added
  #  deprecated: Deprecated

extra_javascript:
  - javascripts/extra.js

#extra_css:
#  - stylesheets/extra.css

copyright: |
  Copyright &copy; 2024 <a href="https://verge.io" target="_blank" rel="noopener"> Verge.io</a> |
  <a href="#__consent">Change cookie settings</a>

nav:
  - Home: index.md
  - Implementation Guide:
    - Intro: implementation-guide/intro.md
    - Core Concepts: implementation-guide/concepts.md
    - Node Sizing: implementation-guide/sizing.md
    - Network Design: implementation-guide/network-design.md
    - Installation:
      - Pre-Installation: implementation-guide/pre-installation.md
      - Bootable Media: implementation-guide/install-media.md
      - Installation: implementation-guide/installation-guide.md
      - Post-Installation: implementation-guide/post-installation.md
    - Install Additional Nodes:
      - Scale Out Nodes: implementation-guide/scale-out-nodes.md
      - Compute Nodes: implementation-guide/compute-nodes.md
      - Storage Nodes: implementation-guide/storage-nodes.md
    - Reference Architecture:
      - Edge / ROBO: reference-architecture/edge.md
      #- Enterprise Multi-Site: reference-architecture/enterprise-multi-site.md
      - Cloud Providers: reference-architecture/csp.md
      - Life / Data Science: reference-architecture/data-science.md
      - Homelab: reference-architecture/homelab.md
  - Knowledge Base:
    - knowledge-base/index.md
  - Product Guide:
    - VergeOS User Interface: product-guide/UI-Overview.md
    - System Configuration:
      - Authentication:
        - Authorization Sources: product-guide/AuthSources-General.md
        - Azure AD: product-guide/AzureADAuth.md
        - Google: product-guide/GoogleAuth.md
        - Multi-Factor Authentication: product-guide/2factorEmailAuth.md
      - Certificates: product-guide/certificates.md
      - Cloud Snapshots:
        - Overview: product-guide/snapshots-overview.md
        - Profiles: product-guide/snapshot-profiles.md
        - VM Snapshots and Restore: product-guide/VMsnapshotsandrestores.md
        - Tenant Snapshots: product-guide/tenantsnapshots.md
        - Cloud Snapshots and Restore: product-guide/cloudsnapshotandrestore.md
        - NAS Snapshots and Restore: product-guide/volumesnapsandrestores.md
      - Clusters: 
        - Overview: product-guide/system/clusters.md
        - Configuration Options: product-guide/system/clusters-config-options.md
        #- Removing Clusters: product-guide/removingclusters.md
        #- Cluster Settings: product-guide/clustersettings.md
      - Permissions:
        - Users and Groups: product-guide/usersgroups.md
        - Permissions: product-guide/permissions.md
      - Nodes:
        - Overview: product-guide/nodesoverview.md
        - IPMI: product-guide/IPMI.md
        - System Event Log (SEL): product-guide/SEL
      - OIDC Applications:
        - Overview: product-guide/OIDCoverview.md
        - Adding Applications: product-guide/OIDCadding.md
      - Sites Dashboard:
        - Overview: product-guide/sitesoverview.md
        - Adding Sites: product-guide/configuringsitesdash-addingsites.md
      - Tasks / Events:
        - Create Automated Tasks: product-guide/createtasks.md
      - Updates / Licensing:
        - Applying Updates: product-guide/runningupdates.md
        - Settings: product-guide/updatesettings.md
      - Settings:
        - Overview: product-guide/settingsoverview.md
        - Advanced Settings: product-guide/advancedsystemsettings.md
    - Virtual Machines:
      - Quick Start: 
        - Best Practices: product-guide/VMbestpractices.md
        - Uploading Media Images: product-guide/uploadingtovSAN.md
        - Creating Virtual Machines: product-guide/creatingvms.md
        - Virtual Machine Drives: product-guide/VMdrives.md
        - Virtual Machine Network Interfaces: product-guide/VMNics.md
        - Virtual Machine Fields: product-guide/VMfielddescriptions.md
        - VM Guest Agent: product-guide/VMguestagent.md
      - Importing VMs: 
        - From Media Images: product-guide/importfromupload.md
        - From VMware Backup: product-guide/importvmware.md
        - From NAS Volume: product-guide/importfromNAS.md
        - Viewing Import Jobs: product-guide/viewimportjobs.md
      - VM Operations:
        - Working With VMs: product-guide/VM-workingwith.md
        - Live Migrations: product-guide/virtual-machines/live-migrations.md
      - VDI:
        - Instructions for the Administrator: product-guide/VDI-Administrator.md
        - Instructions for the User: product-guide/VDI-User.md
        - Virtual Machine Remote Console: product-guide/VM-RemoteConsole.md
    - Tenants:
      - Assigning External IP Addresses: product-guide/assignIPtotenant.md
      - Creating Tenants: product-guide/createtenants.md
      - Increasing Resources: product-guide/tenantsaddresources.md
      - Modifying Tenants: product-guide/tenant-modifications.md
      - Monitoring Tenants: product-guide/tenant-monitoring.md
      - Reducing Resources: product-guide/reducetenantresources.md
      - Sharing Files: product-guide/providefilestotenant.md
      - Snapshots: product-guide/tenantsnapshots.md
      - Usage Reports: product-guide/tenant-usagereports.md
    - Recipes:
      - Organization: product-guide/recipes-organization.md
      - VM Recipes: product-guide/vm-recipes.md
    - NAS:
      - Overview: product-guide/NASservice.md
      - Configuration:
        - Local Volumes: product-guide/naslocalvolumes.md
        - Remote Volumes: product-guide/nasremotevolumes.md
        - Shares: product-guide/nasshares.md
        - VM Export: product-guide/vmexportvolume.md
        - Volume Syncs: product-guide/volumesyncs.md
        - Join NAS to AD: product-guide/NAS-joinADDomain.md
#    - Media Images:
#      - Overview: product-guide/mediaimages-overview.md
#      - Uploading Media Images: product-guide/uploadingtovSAN.md
    - Networking:
      - Quick Start: 
        - Overview: product-guide/networkoverview.md
        - Connect to an Existing LAN/WAN: product-guide/connectLANWAN.md
        - Create an Internal Network with External Access: product-guide/internalwithextaccess.md
        - Creating an Internal Layer2 Network: product-guide/internal-layer2.md
        - Create a Layer 3 Internal Network: product-guide/internal-layer3.md
        - Create a DHCP Static Entry: product-guide/dhcpstaticlease.md
        - Assign an External IP to an Internal network: product-guide/assignexternalIP.md
        - Create a 1:1 NAT: product-guide/NAT1to1.md
      - Configuration:
        - Creating an Internal Network: product-guide/internalnetworks.md
        - Using Aliases: product-guide/aliases.md
        - Network Rules: product-guide/networkrules.md
        - VLANs: product-guide/createvlan.md
      - Monitoring:
        - Network Dashboards: product-guide/network-dashboards.md
        - Tracking Network Statistics: product-guide/trackingnetstats.md
        - Port Mirroring: product-guide/portmirroring.md
        - Network Diagnostics Tool: product-guide/netdiagnostics.md
      - VPN:
        - Overview: product-guide/VPNoverview.md
        - IPSec: product-guide/IPSEC.md
        - WireGuard: product-guide/wireguardconfig.md
        - WireGuard Examples: product-guide/wireguard-examples.md
      - Troubleshooting:
        - Network Troubleshooting: product-guide/net-troubleshooting.md
    - Backup & DR:
      - Site Syncs:
        - Configuration: product-guide/sync-configuration.md
        - Monitoring: product-guide/monitoringsitesyncs.md
        - Sync Back: product-guide/syncingback.md
        - Manual Sync: product-guide/manualsitesyncs.md
        - Repair Server: product-guide/repairserver.md
      - Snapshots:
        - Overview: product-guide/snapshots-overview.md
        - Profiles: product-guide/snapshot-profiles.md
        - VM Snapshots and Restore: product-guide/VMsnapshotsandrestores.md
        - Tenant Snapshots: product-guide/tenantsnapshots.md
        - Cloud Snapshots and Restore: product-guide/cloudsnapshotandrestore.md
        - NAS Snapshots and Restore: product-guide/volumesnapsandrestores.md
    - vSAN:
      - Storage Tiers: product-guide/storagetiers.md
      - Preferred Tier: product-guide/preferredtiers.md
      - Removing ISO Files with References: product-guide/removing-isorefs.md
    - GPU:
#      - Overview: product-guide/GPUoverview.md
      - Passthrough: product-guide/GPUPassthrough.md
      - NVIDIA vGPU: product-guide/nvidiavGPU.md
      - Tenant GPU: product-guide/gpu-sharetenant.md
    - Maintenance & Monitoring:
      - Drive Replacement: product-guide/DriveReplacement.md
      - Maintenance Mode: product-guide/maintenancemode.md
      - Subscriptions/Alerts:
        - Creating Subscriptions: product-guide/subscriptions-overview.md
        - Subscription Profiles: product-guide/subscriptionprofiles.md
        - Accessing Subscriptions: product-guide/subscriptions-accessing.md
  - Release Notes: release-notes.md
  - Glossary: glossary.md

#build
