
/*.md-typeset h2 {
    font-style:normal;
    font-size: 2.25em;
    font-weight: 400;
    padding-bottom: 0.3em;
    margin-bottom: .1em;
    border-bottom: solid;
}
*/

.md-typeset h1 {
    font-size: 2.25em;
    font-weight: bold;
}

.md-typeset h2 {
    font-size: 1.75em;
    font-weight: 400;
    border-bottom: solid;
    padding-bottom: 0.5em;
    padding-top: 2.5em;
    margin-bottom: .1em;
    border-bottom: solid;
  }

  .md-typeset h3 {
    padding-bottom: .1em;
    margin-bottom: .1em;

  }